# dependencies
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
package-lock.json

# next
.next
out

# production
dist

# misc
.DS_Store
*.log
.env*
!.env.example
*.tsbuildinfo

# editors
.vscode
.idea

# test coverage
coverage
.nyc_output
